/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/


/*** GLOBAL ***/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

p {
	margin-bottom: 15px;
}

h1 {
	font-size: 24pt;
	margin-bottom: 15px;
}

h2 {
	font-size: 20pt;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

.strikeout {
	text-decoration: line-through;
}

.alignRight {
	text-align: right;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearBoth {
	clear: both;
}


/*** HOME PAGE ***/
.wrapper {
	width: 900px;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

/* Header */
header {
	width: 100%;
}

.headerTop {
	position: relative;
	top: 21px;
	margin-top: -21px;
}

.logo {
	margin: 0 0 4px 3px;
}

header .utility-nav {
	position: relative;
	top: 20px;
}

	header .utility-nav a {
		color: #000;
		text-decoration: none;
	}

.headerDivider {
	background-color: #c20000;
	width: 100%;
	height: 50px;
}

.search {
	color: #fff;
	margin-top: 10px;
	margin-right: 10px;
}

.breadcrumb li {
	display: inline-block;
	list-style: none;
}

/* Body */
#page-top {
	background-image: url("/images/background-top.gif");
	background-repeat: no-repeat;
	height: 30px;
	margin-top: 10px;
}

section#page {
	width: 100%;
	
	background-image: url("/images/background.gif");
	background-repeat: repeat-y;
}

#page-bot {
	background-image: url("/images/background-bot.gif");
	background-repeat: no-repeat;
	height: 40px;
	margin-bottom: 10px;
}

.column-left {
	background-color: #002a5c;
	width: 200px;
	min-height: 300px;
	margin: 2px 2px 2px 0;
	
	padding: 0 15px;
	
	color: #fff;
	
	-moz-border-radius-topright: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-top-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

	.side-nav ul li {
		margin-bottom: 2px;
		list-style: none;
	}

	.side-nav a {
		color: #fff;
		text-decoration: none;
	}
	
	#menu-products {
		margin-bottom: 5px;
	}
	
	#menu-misc {
		border-top: solid 1px #fff;
		padding-top: 5px;
	}
	
.column-middle {
	width: 385px;
}
	
.sections {
	margin: 2px 0 2px 2px;
}

	.sections div {
		border: 1px solid #000;
		height: 108px;
		width: 225px;
		
		margin-bottom: 5px;
		
		-moz-border-radius-topright: 30px;
		-moz-border-radius-bottomleft: 30px;
		-webkit-border-top-right-radius: 30px;
		-webkit-border-bottom-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
	}
	
	.sections div:last-child {
		margin-bottom: 0;
	}

/* Footer */
footer, .push {
	height: 80px; /* .push must be the same height as .footer */
	clear: both;
}

footer {
	width: 900px;
}

.footerDivider {
	background-color: #c20000;
	width: 100%;
	height: 40px;
	color: #fff;
}
	
footer .utility-nav {
	color: #fff;
	margin: 10px 20px;
}

	footer .utility-nav li {
		list-style: none;
		display: inline-block;
	}

	footer .utility-nav a {
		color: #fff;
		text-decoration: none;
	}
	
.mailingList {
	margin: 8px 20px;
}

	.mailingList img {
		position: relative;
		top: 5px;
	}
	
.socialMedia 	{
	width: auto;
	margin: 8px 20px 8px 0;
}


/*** SUB PAGES ***/

.content,
#body_content,
.products,
.product {
	float: left;
	width: 615px;
}

/*** PRODUCTS ***/

.content,
.column-middle,
#body_content,
.products,
.product {
	margin: 5px 25px;
}

	.products li {
		display: inline-block;
	}

	.products li a,
	.products li label {
		display: block;
		text-align: center;
	}

	.product img {
		display: block;
	}
	
	.product .images li {
		display: inline-block;
		list-style: none;
	}