<div class="sideNav floatLeft">
	<%= render :partial => "/shared/side_bar" %>
	<br /><br /><br />
	<ul>
		<li><a href="#">Formal Wear</a></li>
		<li><a href="#">Dressy</a></li>
		<li><a href="#">Sportswear</a></li>
		<li><a href="#">School Uniforms</a></li>
		<li><a href="#">First Communion</a></li>
		<li><a href="#">Christening</a></li>
		<li><a href="#">Infants</a></li>
		<li><a href="#">Accessories</a></li>
		<li><a href="#">Hairpieces</a></li>
	</ul>
	
	----------------------<br />
	<a href="#">Clearence</a><br />
	----------------------<br />
	
	<ul>
		<li><a href="#">Gift Certificates</a></li>
		<li><a href="#">Upcoming Events</a></li>
		<li><a href="#">Kidstop Tips</a></li>
	</ul>
</div>

<div class="content floatLeft">
	
</div>

<div class="sections floatRight">
	<div></div>
	<div></div>
	<div></div>
</div>